@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap); 

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
    overflow: hidden;
}


:root{
    --black:#000000



}

/* --------------------home----------------- */

body{
    height: 100vh;
    width: 100%;
    background-image:url(../img/about\ me.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main_nav{
    font-size: 30px;
    padding-top: 15px; 
    padding-left: 50px;
    padding-right: 50px;
}


.main_nav .list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 125px;
}

.main .text{
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align : center;
    font-weight: bold;
}

/* .main .text p{
    background-color: aliceblue;
} */

.copyright{
    position:fixed;bottom:0px;width:100%;
}