:root{
    --font:



}


.nav{
    display: inline-block;
    justify-self: center;
    font-size: 30px;
    /* grid-template-rows: (6,150px);
    grid-template-columns: 150px;
    grid-column-gap: 10px; */
}
.nav a{
    margin: 0 40px;
}
